
@import '../../styles.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.getstarted-main-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}
.getstarted-img-section{
  width: 30%;
  display: block;
  border: none !important;
  margin: 0px !important;
  padding: 0 !important;
}
.get-started-second-section {
  width: 100%;
  display: block;
  background-image: url("../../assets/images/Design_3.png"),
      url("../../assets/images/Design_4.png");
  background-repeat: no-repeat,no-repeat;
  background-position: bottom left, bottom right;
  background-color: #164380;
  align-items: center;
}
.duration-personaldetails-second-section {
  width: 100%;
  display: block;
  background-image: url("../../assets/images/Design_3.png"),
      url("../../assets/images/Design_5.png");
  background-repeat: no-repeat,no-repeat;
  background-position: bottom left, bottom right;
  background-color: #164380;
  align-items: center;
}
.get-started-first-section-img{
  width: 100%;
  display: block;
}
.header-container{
  font-family: 'ProximaNova-Bold';
  color: #fff;
  display: inline;
}
.header-section{
  float: right;
  height: 35px;
  display: inline-flex;
  margin-top: 10px;
  margin-right: 30px;
}
.header-section h2{
  padding-left: 5px;
  font-size: 13px;
  position: relative;
  left: 138px;
  bottom: 10px;
}
.header-phone-number{
  width: 150px;
  opacity: 0.2;
  font-size: 12px;
  border-radius: 16px !important;
  background-color: #000 !important;
}
.header-login{
  font-size: 14px;
  padding-left: 30px;
  padding-top: 6px;
  width: 80px;
}
.get-started-first-section{
  width: 30%;
  display: block;
  border: none !important;
  margin: 0px !important;
  padding: 0 !important;
  background-image: url('../../assets/images/Mask Group 101.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Header - Section */
.getstarted-gondola-life-header{
  color: #fff;
  background-color: #164380;
  text-align: center;
  padding-top: 64px;
}
.duration-personaldetails-gondola-life-header{
  color: #fff;
  background-color: #164380;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
}
.getstarted-gondola-life-header h1 { 
  font-family: 'Poppins-Bold';
  font-size: 26px;
  padding-bottom: 5px;
}
.getstarted-gondola-life-header h3{
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  width: 330px;
  margin: 0 auto;
}

.getstarted-gondola-life-header h4{
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  width: 360px;
  margin: 0 auto;
  text-align: left;
  display: inline-flex;
}
.gondola-life-sub-header{
  height: 35px;
  width: 360px;
  margin-left: 10px;
  margin-top: 13px;
}

.gondola-life-sub-header h6{
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 12px;
  text-align: left;
  color: #fff;
  margin: 0;
}
.gondola-life-personal-sub-header{
  display: block !important;
  font-family: 'ProximaNova-Bold' !important;
  font-size: 12px !important;
  text-align: left!important;
  color: #fff !important;
  margin-top:-7px !important;
}
.gondola-life-sub-header p{
  font-family: 'Poppins';
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #fff;
  display: block;
  margin-top: 3px;
}
.insurance-coverage-slider {
  width: 260px;
  height: 40px;
}
.getstarted-mainpage-secondinner-innerdiv1-div{
  width: 380px;
  margin: 0  auto;
  display: block;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
}
.getstarted-duration-secondinner-div1{
  width: 324px;
  height: 7px;
  margin: 0  auto;
  display: block;
  background-color: #d9d9d9;
  border-radius: 1px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.08);
}
.getstarted-personal-secondinner-div1{
  width: 350px;
  height: 5px;
  margin: 0  auto;
  display: block;
  background-color: #d9d9d9;
  border-radius: 1px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.08);
}
.getstarted-third-div-section-innerdiv5{
  text-align: center;
    padding: 20px;
}
.getstarted-mainpage-secondinner-innerdiv2-div2{
  width: 363px;
  height: 4px;
  margin: 0  auto;
  display: block;
  background-color: #d9d9d9;
  border-radius: 1px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.08);
}
.getstarted-mainpage-secondinner-innerdiv3-div3{
  width: 350px;
  height: 4px;
  margin: 0  auto;
  display: block;
  background-color: #b3b3b3;
  border-radius: 1px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.08);
}
.getstarted-mainpage-secondinner-innerdiv-span{  
  font-family: 'Poppins-Bold';
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.68;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.getstarted-mainpage-secondinner-innerdiv-span1{
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.getstarted-mainpage-secondinner-innerdiv1-span{  
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  line-height: 1.13;
  text-align: center;
  color: #7a8084;
  padding-top: 40px;
  padding-bottom: 15px;
  display: block;
}
.getstarted-mainpage-secondinner-innerdiv1-span1{   
  font-family: 'ProximaNova-Bold';
  font-size: 37px;
  font-weight: bold;
  line-height: 0.57;
  text-align: center;
  color: #0097e6;
  padding: 10px 10px;
  display: block;
}
.mat-button-get-started-next{
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  background-color: #5ab43f;
  border: none;
  height: 30px;
  font-family: 'ProximaNova-Bold';
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.mat-button-get-started-submit{
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  background-color: #5ab43f;
  border: none;
  height: 30px;
  font-family: 'ProximaNova-Bold';
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
  
  
  .amount-value-section{
    display: flex;
    width: 79%;
    justify-content: space-between;
    margin: 0px 40px;
  }
  .value-span1, .value-span2{
    font-family: 'ProximaNova-Bold';
    font-size: 16px;
    color: #7a8084;
  }

  /* Nav Items */
.nav-items{
  display: inline-flex;
}
.phone-number-section{
  display: block;
}
.login-content{
  display: block;
}
/********** Duration Coverage Section ************/

.duration-details-container-outer{
  width: 340px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  .duration-details-container-inner{
    padding: 20px 40px;
  }
}
.Duration-of-Insurance-coverage{
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  text-align: left;
  color: #7a8084;
}
.yearsvalue-span{
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 24px;
  text-align: left;
  color: #0097e6;
  padding-top: 10px;
}
.yearsvalue-slider{
  width: 260px;
  height: 40px;
}
.yearsvalue-slider-div{
  width: 260px;
}
.yearsvalue-slider-content-section{
  display: block;
  text-align: left;
}
.years-value-span1, .years-value-span2{
  font-family: 'ProximaNova-Bold';
  font-size: 13px;
  text-align: left;
  color: #7a8084;
}
.years-value-span2{
  padding-left: 160px;
}
.annual-income-div{
  display: block;
  text-align: left;
  padding: 10px 0 0 0;
}
.annual-income{
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  text-align: left;
  color: #7a8084;
  display: block;
}
.input-text-incomeret-class{
  width: 260px;
  height: 35px;
  border-radius: 8px;
  border: solid 1px #79829d;
  background-color: #fff;
  color: #0097e6;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-align: left;
}

.back-next-button-section{
  text-align: left;
  padding-top: 10px;
}

.back-span{
  font-family: 'ProximaNova-Bold';
  font-size: 13px;
  text-align: left;
  color: #3c464e;
  cursor: pointer;
}
.back-span a, .back-span a:hover{
  text-decoration: none;
  color: #3c464e;
}
.next-span{
  padding-left: 110px;
}

.submit-span{
  padding-left: 155px;
}
/********** Personal Details Section ******************/

.personal-details-container-outer{
  width: 370px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  .personal-details-container-inner{
  padding: 20px 20px;
  }
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #f49d53;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.noun-idea-glow-container{
  border-radius: 50%;
  padding: 9px 13px;
  background-color: #0b2e5c;
}
 
.name-class-div{
  display: inline-flex;
  text-align: left;
  //padding-bottom: 10px;
}
.First-Name, .Zip-code{
  display: block;
  text-align: left;
  font-family: 'ProximaNova-Bold';
  font-size: 13px;
  text-align: left;
  color: #7a8084;
  //padding-left: 3px;
}
.input-text-incomeret-class{
  width: 260px;
  height: 30px;
  border-radius: 8px;
  border: solid 1px #79829d;
  background-color: #fff;
  color: #0097e6;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-align: left;

}
.input-text-firstname-class{
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: solid 1px #79829d;
  background-color: #fff;
  color: #0097e6;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-align: left;
}
.input-text-middlename-class{
  width: 85px;
  height: 35px;
  border-radius: 8px;
  border: solid 1px #79829d;
  background-color: #fff;
  color: #0097e6;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-align: left;
}
.input-text-lastname-class{
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: solid 1px #79829d;
  background-color: #fff;
  color: #0097e6;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-align: left;
}
.name-class-innerdiv{
  padding-right: 5px;
}

.dob-class-div{
  display: inline-flex;
  text-align: left;
}
.dob-format{
  font-family: 'ProximaNova-Bold';
  font-size: 10px;
  text-align: left;
  color: #a6a6a6;
}
.input-text-lastname-class:after {   
  border-radius: 8px;
  border: solid 2px #0793e7;
  background-color: #fff;
}

.smoke-class-div{
  display: inline-block;
  padding-bottom: 15px;
}
.smoke-class-div-innerdiv{
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 13px;
  text-align: left;
  color: #7a8084;
  padding-bottom: 5px;
}
.smoke-button-class-innerdiv{
  text-align: left;
  display: inline-block;
}
.input-smoke-button-class{
  width: 145px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #caced9;
  background-color: #fff;
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  text-align: center;
  color: #0097e6;
  cursor: pointer;
  position:relative;
}
.input-smoke-button-class-selected{
  width: 145px;
  height: 40px;
  border-radius: 8px;
  border: solid 2px #0097e6;
  background-color: #fff;
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  text-align: center;
  color: #0097e6;
  cursor: pointer;
}
.input-smoke-button-span-class{
  padding-right: 5px;
}
.yesno-button-image{
  padding-right: 5px;
  height: 20px;
}
.yesno-button-content{
  padding-right: 5px;
  height: 20px;
}

:host::ng-deep button:focus{  
  border-radius: 30px;
  //background-color: #fff;
}
.input-smoke-button-span-class ::ng-deep button:focus{  
  border-radius: 8px;
  border: solid 2px #0793e7;
  background-color: #fff;
}

.input-text-dobzip-class{
  width: 145px;
  height: 38px;
  border-radius: 8px;
  border: solid 1px #79829d;
  background-color: #fff;
  color: #0097e6;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-align: left;
}
.input-gender-button-class{
  width: 95px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #caced9;
  background-color: #fff;
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  text-align: center;
  color: #0097e6;
  cursor: pointer;
}
.input-gender-button-class-selected{
  width: 95px;
  height: 40px;  
  border-radius: 8px;
  border: solid 2px #0097e6;
  background-color: #fff;
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  text-align: center;
  color: #0097e6;
  cursor: pointer;
}
.back-submit-section{
  display: inline-block;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
.progress-div{
  text-align: center;
  padding-bottom: 20px;
}
.progress-div-span{
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  text-align: center;
  color: #0097e6;
}
.progress-img-div{
  text-align: center;
  padding-bottom: 20px; 
}
.progress-img{
  height: 100px;
  width: 270px;
}
.submit-progress-main-div{
  width: 370px;
  height: 250px;
  display: block;
  margin: 10px 0 0 345px;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
}


:host::ng-deep input:focus {
outline: none;
border-radius: 8px;
border: solid 2px #0793e7;
background-color: #fff;
}

:host::ng-deep input{
padding: 5px;
}
.name-class-div-datepicker{
cursor: pointer;
}

:host::ng-deep .name-class-div-datepicker input:focus {
outline: none;
border-radius: 0px;
border: none;
background-color: #fff;
}

:host::ng-deep .name-class-div-datepicker input{
padding: 0px;
}



/******************** Mat Override CSS **********************/
  

/* mat-icon-stepper selected color change */
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #0097e6!important;
  cursor: pointer;
}

/*input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #79829d!important;
  display: flex;
  position: absolute;
  top: 7px!important;
  left: 0!important;
  right: 0!important;
  bottom: -16px!important;
  cursor: pointer;
  pointer-events: none;
}

/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick {
  color: #0097e6!important;
  cursor: pointer;
}

/* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: #0097e6!important;
  opacity: 0.8!important;
  cursor: pointer;
}

/*  mat-input carent color */
::ng-deep .mat-input-element {
cursor: pointer;
  caret-color: #0097e6!important;
  color: #0097e6 !important;
  font-weight: bold;
}

/* mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
cursor: pointer;
  caret-color: #0097e6!important;
}

/* mat-label normal state style */
::ng-deep .mat-form-field-label {
cursor: pointer;
  color: #0097e6!important;
}

/* mat-label focused style */
::ng-deep .mat-form-field .mat-focused .mat-form-field-label {
cursor: pointer;
  color: #0097e6!important;
}

/* mat-label error style */
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
cursor: pointer;
  color: red!important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
cursor: pointer;
padding: 0px;
}

:host ::ng-deep .mat-form-field-infix{
cursor: pointer;
width: 120px;
}
:host ::ng-deep .mat-input-element .mat-form-field-autofill-control .mat-datepicker-input .cdk-text-field-autofill-monitored{
width: 85px;
margin-bottom: -6px;
cursor: pointer;
}

:host ::ng-deep .cdk-text-field-autofill-monitored{
cursor: pointer;
width: 85px;
margin-bottom: -6px;
}
:host ::ng-deep .mat-form-field .mat-form-field-wrapper {
cursor: pointer;
width: 145px;
height: 50px;
padding-bottom: 0px;
}
::ng-deep.mat-datepicker-content.mat-calendar {
cursor: pointer;
width: 229 px!important;
height: 300 px!important;
}

:host::ng-deep .mat-slider-warn {
background-color: #0097e6 !important;
}
:host::ng-deep .mat-slider-thumb {
background-color: #0097e6 !important;
}
.smoke-check-circle{
  position:absolute;
  right:-5px;
  top:-10px
}
.input-smoke-button-class-selected::before {
  background-color: white;
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  width: 10px;
}
.input-smoke-button-class-selected::before {
  top: -1px;
  right: -1px;
}
:host::ng-deep .annual-income-div .mat-form-field .mat-form-field-wrapper{
  width:252px !important;
}
:host::ng-deep .name-class-div .mat-form-field .mat-form-field-wrapper{
  width:96px !important;
}
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
  padding: 5px 0px;
}
.error-exist-padding-bottom{
  padding-bottom:5px;
}
:host::ng-deep .smoke-class-div,.duration-range-error .mat-error{
  font-size: 80%;
  text-align: left;
}

/**********Mat Done*********/