<div class="getstarted-main-container">
    <ng-container *ngIf="isDurationAmountView">
        <img src="../../assets/images/Mask Group 101.png" />
    </ng-container>
    <ng-container *ngIf="isDurationYearsView">
        <img src="../../assets/images/Mask Group 102.png" />
    </ng-container>
    <ng-container *ngIf="isPersonalDetailsView || isSubmitDone">
        <img src="../../assets/images/Mask Group 103.png" />
    </ng-container>
    <div class="get-started-second-section"
        [ngClass]="{'duration-personaldetails-second-section': !isDurationAmountView }">
        <div class="header-container">
            <div class="header-section">
                <h2>
                    <img src="../../assets/images/Call.png" class="header-phone-number-img" />
                </h2>
                <h2>+1 (800) 555-1212</h2>
                <div class="header-phone-number">
                </div>
                <div class="header-login">Login</div>
            </div>
        </div>
        <div class="getstarted-gondola-life-header"
            [ngClass]="{'duration-personaldetails-gondola-life-header': !isDurationAmountView }">
            <h1>
                Gondola Life
            </h1>
            <ng-container *ngIf="isDurationAmountView">
                <h3>
                    Shop life insurance protection for you, your family, and your loved ones
                </h3>
            </ng-container>
            <h4>
                <ng-container *ngIf="!isDurationAmountView">
                    <div class="noun-idea-glow-container">
                    <img src="/assets/images/noun_Idea_1509193.png" />
                    </div>
                    <div class="gondola-life-sub-header">
                        <h6 [ngClass]="{
                            'gondola-life-personal-sub-header':isPersonalDetailsView || isSubmitDone }">
                            <ng-container *ngIf="isDurationYearsView">
                                "52% of Americans have life insurance."
                            </ng-container>
                            <ng-container *ngIf="isPersonalDetailsView">
                                "More than half of Americans choose not to have life insurance because they think
                                it’s too expensive."
                            </ng-container>
                            <ng-container *ngIf="isSubmitDone">
                                We try to offer the best insurance quotes from providers offering a wide variety of
                                options…
                            </ng-container>
                        </h6>
                        <p>www.spendmenot.com</p>
                    </div>
                </ng-container>
            </h4>
        </div>
        <form [formGroup]="durationForm" (submit)="submitDurationForm()">
        <ng-container *ngIf="isDurationAmountView">
            <div class="getstarted-mainpage-secondinner-innerdiv1">
                <div class="getstarted-mainpage-secondinner-innerdiv1-div">
                    <span class="getstarted-mainpage-secondinner-innerdiv1-span">
                        Requested Life Insurance Coverage
                    </span>
                    <span class="getstarted-mainpage-secondinner-innerdiv1-span1">
                        ${{numberWithCommas(durationamount)}}
                    </span>
                    <mat-slider formControlName="durationAmount" [(ngModel)]="durationamount" class="insurance-coverage-slider" min="100000" step="50000" max="3000000"
                        (input)="updateSetting($event)" [value]="durationamount" color="warn"></mat-slider>
                        <div class="amount-value-section">
                        <span class="value-span1">$100,000</span>
                        <span class="value-span2">$3,000,000</span>
                    </div>
                    <div class="getstarted-third-div-section-innerdiv5">
                        <button class="mat-button-get-started-next" (click)="navigateDurationYears()">Next</button>
                    </div>
                </div>
                <div class="getstarted-mainpage-secondinner-innerdiv2-div2"></div>
                <div class="getstarted-mainpage-secondinner-innerdiv3-div3"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="isDurationYearsView">
            <div class="duration-details-container">
                <div class="duration-details-container-outer">
                    <mat-progress-bar mode="determinate" value="{{progressBar}}"></mat-progress-bar>
                    <div class="duration-details-container-inner">
                    <div class="Duration-of-Insurance-coverage">
                        <span>
                            Duration of Insurance coverage
                        </span>
                    </div>
                    <div class="yearsvalue-slider-div">
                        <span class="yearsvalue-span">{{durationyears}} years</span>
                        
                        <mat-slider formControlName="durationRange" [(ngModel)]="durationyears"  class="yearsvalue-slider" min="0" step="5" max="30"
                            (input)="updateYearsSetting($event)" [value]="durationyears" color="warn">
                        </mat-slider>
                       
                    </div>
                    <div class="yearsvalue-slider-content-section">
                        <span class="years-value-span1">0 years</span>
                        <span class="years-value-span2">30 years</span>
                    </div>
                    <span class="duration-range-error">
                    <mat-error *ngIf="durationForm.get('durationRange').hasError('required')">
                        Duration is Required!
                    </mat-error>
                    </span>
                    <div class="annual-income-div">
                        <span class="annual-income">
                            Annual Income
                        </span>
                        <mat-form-field class="name-class-div-datepicker" appearance="outline">
                        <input type="text" matInput maxlength="7" (keypress)="checkInputValue($event)" formControlName="annualIncome" [(ngModel)]="annualincome" />
                        <mat-error *ngIf="durationForm.get('annualIncome').hasError('required')">
                            Annual Income is Required!
                          </mat-error>
                          <mat-error *ngIf="durationForm.get('annualIncome').hasError('minIncome')">
                            Please enter annual income more than 0!
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="annual-income-div">
                        <span class="annual-income">
                            Expected Retirement Age
                        </span>
                        <mat-form-field class="name-class-div-datepicker" appearance="outline">
                        <input type="text" matInput maxlength="2" (keypress)="checkInputValue($event)" formControlName="retirementAge" [(ngModel)]="expectedretirementage" />
                        <mat-error *ngIf="durationForm.get('retirementAge').hasError('required')">
                            Retirement age is Required!
                        </mat-error>
                        <mat-error *ngIf="durationForm.get('retirementAge').hasError('minAge')">
                            Please enter retirement age more than 0!
                        </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="back-next-button-section">
                        <span class="back-span"><a (click)="backToDurationAmount()"> &#8592; BACK</a></span>
                        <span class="next-span">
                            <button type="submit" class="mat-button-get-started-next"
                                >Next</button>
                        </span>
                    </div>
                </div>
                </div>
                <div class="getstarted-duration-secondinner-div1"></div>
            </div>
        </ng-container>
    </form>
    <form [formGroup]="personalDetailsForm" (submit)="submitPersonalForm()">
        <ng-container *ngIf="isPersonalDetailsView">
            <div class="personal-details-container">
                <div class="personal-details-container-outer">
                    <mat-progress-bar mode="determinate" value="{{progressBar}}"></mat-progress-bar>
                    <div class="personal-details-container-inner">
                    <div class="name-class-div">
                        <div class="name-class-innerdiv"[ngClass]="{
                            'error-exist-padding-bottom':personalDetailsForm.get('firstname').hasError('required') }">
                            <span class="First-Name">
                                First Name
                            </span>
                            <mat-form-field class="name-class-div-datepicker" appearance="outline">
                            <input type="text" maxlength="35" (keypress)="allowOnlyAlphabet($event)" matInput formControlName="firstname" [(ngModel)]="firstname" />
                            <mat-error *ngIf="personalDetailsForm.get('firstname').hasError('required')">
                                First name is required!
                              </mat-error>
                              
                            </mat-form-field>
                        </div>
                        <div class="name-class-innerdiv">
                            <span class="First-Name">
                                Middle Initial
                            </span>
                            <mat-form-field class="name-class-div-datepicker" appearance="outline">
                            <input type="text" matInput formControlName="middeintial" matInput [(ngModel)]="middeintial" /> 
                        </mat-form-field>
                        </div>
                        <div class="name-class-innerdiv">
                            <span class="First-Name">
                                Last Name
                            </span>
                            <mat-form-field class="name-class-div-datepicker" appearance="outline">
                            <input type="text" matInput formControlName="lastname" [(ngModel)]="lastname" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="smoke-class-div">
                        <div class="smoke-class-div-innerdiv">
                            Do you smoke or use tobacco?
                        </div>
                        <div class="smoke-button-class-innerdiv">
                            <span class="input-smoke-button-span-class">
                                <button type="button" class="input-smoke-button-class"
                                    [ngClass]="{'input-smoke-button-class-selected': smokeortobaccouse === 'Yes'}"
                                    (click)="setIsSmoker('Yes')">
                                    <span class="yesno-button-content">
                                        <img src="../assets/images/noun_yes_-1.png" class="yesno-button-image" />
                                    </span>
                                    <span class="yesno-button-content">YES</span>
                                    <ng-container *ngIf="smokeortobaccouse === 'Yes'">
                                        <span class="smoke-check-circle">
                                            <mat-icon inline="true">check_circle</mat-icon>
                                        </span>
                                       </ng-container>
                                </button>
                            </span>
                            <span class="input-smoke-button-span-class">
                                <button type="button" class="input-smoke-button-class"
                                    [ngClass]="{'input-smoke-button-class-selected': smokeortobaccouse === 'No'}"
                                    (click)="setIsSmoker('No')">
                                    <span class="yesno-button-content">
                                        <img src="../assets/images/Dislike.png" class="yesno-button-image" />
                                    </span>
                                    <span class="yesno-button-content">NO</span>
                                    <ng-container *ngIf="smokeortobaccouse === 'No'">
                                    <span class="smoke-check-circle">
                                        <mat-icon inline="true">check_circle</mat-icon>
                                    </span>
                                   </ng-container>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="dob-class-div" [ngClass]="{
                        'error-exist-padding-bottom':personalDetailsForm.get('dob').hasError('required') }">
                        <div class="name-class-innerdiv">
                            <span class="First-Name">
                                Date of Birth
                                <span class="dob-format">(mm/dd/yyyy)</span>
                            </span>
                            <mat-form-field class="name-class-div-datepicker" appearance="outline">
                                <input matInput formControlName="dob" [(ngModel)]="dob" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                                    (focus)="picker.open()" name="dob" />
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="personalDetailsForm.get('dob').hasError('required')">
                                Date of birth is Required!
                              </mat-error>
                              <!-- <mat-error *ngIf="durationForm.get('annualIncome').hasError('minIncome')">
                                Please enter annual income more than 0!
                            </mat-error>  -->
                            </mat-form-field>
                        </div>
                        <div class="name-class-innerdiv">
                            <span class="Zip-code">
                                Zip Code
                            </span>
                            <mat-form-field class="name-class-div-datepicker" appearance="outline">
                            <input type="text" matInput formControlName="zipcode" maxlength="5"  
                            (keypress)="checkInputValue($event)" 
                            [(ngModel)]="zipcode"/>
                            <mat-error *ngIf="personalDetailsForm.get('zipcode').hasError('required')">
                               Zip code is Required!
                            </mat-error>
                            <mat-error *ngIf="personalDetailsForm.get('zipcode').hasError('invalid')">
                               Please neter correct zip code!
                             </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="smoke-class-div">
                        <div class="smoke-class-div-innerdiv">
                            Gender
                        </div>
                        <div class="smoke-button-class-innerdiv">
                            <span class="input-smoke-button-span-class">
                                <button type="button" class="input-gender-button-class"
                                    [ngClass]="{'input-gender-button-class-selected': gender === 'Male'}"
                                    (click)="setGender('Male')">Male
                                </button>
                            </span>
                            <span class="input-smoke-button-span-class">
                                <button type="button" class="input-gender-button-class"
                                    [ngClass]="{'input-gender-button-class-selected': gender === 'Female'}"
                                    (click)="setGender('Female')">Female
                                </button>
                            </span>
                            <span class="input-smoke-button-span-class">
                                <button type="button" class="input-gender-button-class"
                                    [ngClass]="{'input-gender-button-class-selected': gender === 'Others'}"
                                    (click)="setGender('Others')">Others
                                </button>
                            </span>
                        </div>
                         <mat-error *ngIf="isGenderEmpty">
                                Please select gender!
                        </mat-error> 
                    </div>
                    <div class="back-submit-section">
                        <span class="back-span"><a (click)="backToDurationYears()"> &#8592;
                                BACK</a></span>
                        <span class="submit-span">
                            <button class="mat-button-get-started-submit" type="submit">SUBMIT</button>
                        </span>
                    </div>
                </div>
                </div>
                <div class="getstarted-personal-secondinner-div1"></div>
            </div>
        </ng-container>
    </form>
        <ng-container *ngIf="isSubmitDone">
            <div class="personal-details-container">
                <div class="personal-details-container-inner">
                    <div class="progress-div">
                        <span class="progress-div-span">
                            Please wait while we retrieve the best offers
                        </span>
                    </div>
                    <div class="progress-img-div">
                        <img src="../../assets/images/Process.png"/>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>