<div class="main-div">
    <div class="mainpage-first-div">
        <div class="first-div-section">
            <div class="first-div-section-innerdiv1">
                <span class="span-class-gondolo">
                    Gondola Life
                </span>
            </div>
            <div class="first-div-section-innerdiv2">
                <span class="span-class">
                    Problem / Solution
                </span>
                <span class="span-class">
                    Process Plan
                </span>
                <span class="span-class">
                    Social Proof
                </span>
                <span class="span-class">
                    Shop with confidence
                </span>
                <span class="span-class">
                    <div class="phone-number-div">
                        <img src="../../assets/images/Call.png" class="phone-number-img" />
                        <span class="phone-number-span">
                            +1 (800) 555-1212
                        </span>
                    </div>
                </span>
                <span class="span-class">
                    Login
                </span>
            </div>
        </div>
        <div class="second-div-section">
            <span class="second-div-span1">
                Instant life insurance protection for you,
                your family and your business
            </span>
            <span class="second-div-span2">
                Get peace of mind knowing you’re protecting
                those you love
            </span>
            <span class="second-div-span3">
                <button class="mat-button-virtual-quote" (click)="navigateToStart()">Get Virtual Quote Now</button>
            </span>
            <span class="second-div-span4">
                <div class="second-div-span4-innerdiv1">
                    <img class="second-div-span4-innerdiv1-img" src="../../assets/images/Ellipse 4.png" />
                    <img class="second-div-span4-innerdiv1-img" src="../../assets/images/Ellipse 5.png" />
                    <img class="second-div-span4-innerdiv1-img" src="../../assets/images/Ellipse 6.png" />
                    <img class="second-div-span4-innerdiv1-img" src="../../assets/images/Ellipse 7.png" />
                </div>
                <div class="second-div-span4-innerdiv2">
                    <span class="second-div-span4-innerdiv1-span1">Rated 4.75 out of 5 based on 122 Reviews</span>
                    <span class="second-div-span4-innerdiv1-span2"><img class="second-div-span4-innerdiv2-img"
                            src="../../assets/images/Google_1.png" />
                        <p class="reviews-span">Google Reviews</p>
                    </span>
                </div>
            </span>
        </div>
    </div>
    <div class="third-div-section">
        <div class="top-insurances-img-section">
            <span class="Top-Insurers">
                Top Insurers
            </span>
            <img src="/assets/images/AIG.png" alt="image" class="top-insurers-img-span">
            <img src="/assets/images/North_American.png" alt="image" class="top-insurers-img-span">
            <img src="/assets/images/Mass_Mutual.png" alt="image" class="top-insurers-img-span">
            <img src="/assets/images/Banner_Life.png" alt="image" class="top-insurers-img-span">
            <img src="/assets/images/AIICO.png" alt="image" class="top-insurers-img-span">
        </div>
        <div class="problem-solution-section">
            <h2>
                Problem / Solution
            </h2>
            <div class="problem-solution-container">
                <div class="problem-solution-inner-section">
                    <img src="/assets/images/insurance.png" alt="image" class="insurance-internet-img">
                    <p>
                        Until now, buying life insurance was a long,
                        expensive, confusing process involving an insurance
                        agent, medical test, medical records, product
                        options and many weeks.
                    </p>
                </div>
                <div class="problem-solution-inner-section">
                        <img src="/assets/images/internet.png" alt="image" class="insurance-internet-img">
                    <p>
                        Now, with our 100% virtual process you can get an
                        instant quote without speaking to anyone, choose an
                        affordable plan, skip the medical exam and have your
                        protection in place all literally in
                    </p>
                </div>
            </div>
        </div>
        <div class="third-div-section-innerdiv3">
            <div class="third-div-section-innerdiv3-div">
                <span class="third-innerdiv3-span1">
                    5 Benefits of applying through Gondola Life
                </span>
                <span class="third-innerdiv3-span2">
                    <img src="/assets/images/Icon feather-check-circle.png" class="feather-check-circle" /> Fast & easy
                    - 100%
                    Virtual
                </span>
                <span class="third-innerdiv3-span3">
                    <img src="/assets/images/Icon feather-check-circle.png" class="feather-check-circle" />
                    Tips – to guide you to your best plan
                </span>
                <span class="third-innerdiv3-span3">
                    <img src="/assets/images/Icon feather-check-circle.png" class="feather-check-circle" /> Perfect
                    choice - shop
                    the best plans
                </span>
                <span class="third-innerdiv3-span4">
                    <img src="/assets/images/Icon feather-check-circle.png" class="feather-check-circle" /> Experienced
                    support
                    -we’re here to help
                </span>
                <span class="third-innerdiv3-span5">
                    <img src="/assets/images/Icon feather-check-circle.png" class="feather-check-circle" /> Peace of
                    mind – your
                    policy in-force today
                </span>
            </div>
            <div class="Gondola-ife">
                Gondola Life
            </div>

        </div>
        <div class="third-div-section-innerdiv4">
            <div class="third-innerdiv4-span1">
                Process Plan
            </div>
            <div class="process-plan-container">
                <div class="process-plan-div">
                    <div class="process-plan-div-inner">
                        <img src="/assets/images/Process_1.png" />
                        <h1>
                            Calculate how much you want
                            and compare quotes
                        </h1>
                    </div>
                </div>
                <div class="process-plan-div2">
                    <div class="process-plan-div-inner">
                        <img src="/assets/images/Process_2.png" />
                        <h1>
                            Apply
                        </h1>
                    </div>
                </div>
                <div class="process-plan-div">
                    <div class="process-plan-div-inner">
                        <img src="/assets/images/Process_3.png" />
                        <h1>
                            Protection and peace now
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="third-div-section-innerdiv5">
            <button class="mat-button-get-quote-now" (click)="navigateToStart()">Get Quote Now</button>
        </div>

        <div class="social-proof-section">
            <h2>
                Social Proof
            </h2>
            <p>
                Rated 4.75 out of 5 based on 122 Reviews on
                <img src="/assets/images/Google_2.png" class="google-review" />
                Google Reviews
            </p>
            <div class="social-proof-row">
                <mat-grid-list cols="3" rowHeight="2:1">
                    <mat-grid-tile>
                        <div class="social-proof-row-grid">
                            <div class="social-proof-row-grid-content">
                                I rarely take the time to review businesses.
                                However gondola have been delivering a 5 stars service going above and beyond
                                expectations.

                            </div>
                            <div class="social-proof-row-grid-img">
                                <img src="../../assets/images/Ellipse -5.png" />
                                <p>
                                    Stephani
                                    <span class="social-proof-row-grid-resident">New York Resident</span>
                                </p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="social-proof-row-grid">
                            <div class="social-proof-row-grid-content">
                                Highly recommended gondola. The team was very professional and extremely helpful
                                throughout the process.

                            </div>
                            <div class="social-proof-row-grid-img">
                                <img src="../../assets/images/Ellipse -2.png" />
                                <p>
                                    Kreg
                                    <span class="social-proof-row-grid-resident">Texas Resident</span>
                                </p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="social-proof-row-grid">
                            <div class="social-proof-row-grid-content">
                                Gondola have been very helpful. They have explained everything and have kept us informed
                                every step of the way.

                            </div>
                            <div class="social-proof-row-grid-img">
                                <img src="../../assets/images/Ellipse -3.png" />
                                <p>
                                    Emma
                                    <span class="social-proof-row-grid-resident">New York Resident</span>
                                </p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="social-proof-row-grid">
                            <div class="social-proof-row-grid-content">
                                Highly recommended!
                                Great service from beginning to the end. Gondola are very helpful, secured lower
                                interest rate, provided excellent personalise service and advice.

                            </div>
                            <div class="social-proof-row-grid-img">
                                <img src="../../assets/images/Ellipse -1.png" />
                                <p>
                                    Neil K
                                    <span class="social-proof-row-grid-resident">Queensland Resident</span>
                                </p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="social-proof-row-grid">
                            <div class="social-proof-row-grid-content">
                                Gondola have been very helpful. They have explained everything and have kept us informed
                                every step of the way.
                                Very happy with the outcome. Thanks!


                            </div>
                            <div class="social-proof-row-grid-img">
                                <img src="../../assets/images/Ellipse 13.png" />
                                <p>
                                    Thomas
                                    <span class="social-proof-row-grid-resident">Dallas Resident</span>
                                </p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="social-proof-row-grid">
                            <div class="social-proof-row-grid-content">
                                I was recommended Gondola by a friend and couldn’t speak more highly of the team! They
                                helped my partner and I with the purchase of our first home and made the process so
                                easy. …

                            </div>
                            <div class="social-proof-row-grid-img">
                                <img src="../../assets/images/Ellipse -4.png" />
                                <p>
                                    Sophia
                                    <span class="social-proof-row-grid-resident">St Louis Resident</span>
                                </p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div class="get-started-button-section">
            <button class="mat-button-get-quote-now" (click)="navigateToStart()">GET STARTED</button>
        </div>
        <div class="shop-with-confidence-section">
            <h2>Shop with confidence</h2>
            <p>ABC’s of life insurance</p>
            <div class="shop-with-confidence-section-div">
                <div class="shop-with-confidence-section-innerdiv">
                    <img src="../../assets/images/Video_1.png" class="shop-with-confidence-section-img" />
                    <p>
                        What is life insurance – premium & death benefit protection
                    </p>
                </div>
                <div class="shop-with-confidence-section-innerdiv">
                    <img src="../../assets/images/Video_2.png" class="shop-with-confidence-section-img" />
                    <p>
                        Basic types – Term vs Permanent
                    </p>
                </div>
                <div class="shop-with-confidence-section-innerdiv">
                    <img src="../../assets/images/Video_3.png" class="shop-with-confidence-section-img" />
                    <p>
                        Benefits
                    </p>
                </div>
            </div>
            <div class="shop-with-confidence-section-div">
                <div class="shop-with-confidence-section-innerdiv">
                    <img src="../../assets/images/Video_4.png" class="shop-with-confidence-section-img" />
                    <p>
                        13 Myths of life insurance
                    </p>
                </div>
            </div>
        </div>
        <div class="third-div-section-innerdiv10">
            <span class="third-innerdiv10-span">
                Calculate how much I want
            </span>
            <span class="third-innerdiv10-span">
                Life insurance calculator
            </span>
        </div>
    </div>
    <div class="footer-section">
        <div class="fourth-innerdiv-section">
            <div class="mat-grid-innerdiv1">
                <span class="mat-grid-innerdiv1-span1">
                    Gondola Life
                </span>
                <span class="mat-grid-innerdiv1-span2">
                    USA 1st online home loan negotiating platform, helping you save money on your home loan, so you
                    can get rid
                    of
                    it.
                </span>
            </div>
            <div class="mat-grid-innerdiv2">
                <span class="mat-grid-innerdiv2-span">About RetainMe</span>
                <span class="mat-grid-innerdiv2-span">About Us</span>
                <span class="mat-grid-innerdiv2-span">Lenders</span>
                <span class="mat-grid-innerdiv2-span">Careers</span>
                <span class="mat-grid-innerdiv2-span">Blog</span>
                <span class="mat-grid-innerdiv2-span">Terms & Conditions</span>
                <span class="mat-grid-innerdiv2-span">Privacy Policy</span>
            </div>
            <div class="mat-grid-innerdiv3">
                <span class="mat-grid-innerdiv3-span">Insurance</span>
                <span class="mat-grid-innerdiv3-span">Life Insurance</span>
                <span class="mat-grid-innerdiv3-span">Home Insurance</span>
                <span class="mat-grid-innerdiv3-span">Motor Insurance</span>
                <span class="mat-grid-innerdiv3-span">Accidental Insurance</span>
            </div>
            <div class="mat-grid-innerdiv4">
                <span class="mat-grid-innerdiv4-span">Resources</span>
                <span class="mat-grid-innerdiv4-span">Lenders</span>
                <span class="mat-grid-innerdiv4-span">FAQ</span>
                <span class="mat-grid-innerdiv4-span">Contact Us</span>
            </div>
            <div class="mat-grid-innerdiv5">
                <span class="mat-grid-innerdiv5-span">
                    Follow us on
                </span>
                <span>
                    <img src="/assets/images/facebook-logo.png" class="follow-us-on" />
                    <img src="/assets/images/Twitter.png" class="follow-us-on" />
                    <img src="/assets/images/instagram (3).png" class="follow-us-on" />
                    <img src="/assets/images/Youtube.png" class="follow-us-on" />

                </span>
            </div>
        </div>
        <div class="fourth-innerdiv1-section">
            <div class="fourth-innerdiv1-section-div1">
                <span class="fourth-innerdiv1-section-span1">
                    Gondola is the trading name for the website Authorised credit representative 2734972
                </span>
                <span class="fourth-innerdiv1-section-span2">
                    © Copyright 2021 Gondola. All rights reserved.
                </span>
            </div>
            <div class="fourth-innerdiv1-section-div2">
                Gondola is 100% US owned and operated company. Our services are provided to you at no cost as we get
                paid by
                the
                lenders. Your savings will depend on your personal circumstances and we do not guarantee any
                savings. We
                compare
                over 2000 products from 32 lenders and don’t cover the whole market or compare all features from all
                lenders.
                WARNING: The comparison rate is true only for the example and may not include all fees and charges.
                Different
                terms, fees or other loan amounts might result in a different comparison rate. The comparison rates
                are based
                on
                a loan amount of $150,000 over a loan term of 25 years. Lending criteria, fees and conditions apply.
                Rates,
                fees
                and charges are indicative and subject to change without notice.
            </div>
        </div>
    </div>
</div>