@import '../../styles.scss';
.main-div {
  overflow-x: hidden;
  width: 100%;
  border: none !important;
  margin: 0px !important;
  padding: 0 !important;
}
.mainpage-first-div {
    width: 100%;
    height: 550px;
    background-color: #164380;
    background-image: url("../../assets/images/Group 79336.png"),
        url("../../assets/images/Mask Group 106.png");
    background-repeat: no-repeat,no-repeat;
    background-position: bottom left, right;
  }
.first-div-section{
  padding-top: 24px;
  padding-bottom: 100px; 
  width: 100%;
}
.first-div-section-innerdiv1{
  float: left;
}
.first-div-section-innerdiv2{
  float: right;
  margin-right: 40px;
  display: flex;
}
.phone-number-span{
  display: inline-flex;
  margin-left: 5px;
  position: absolute;
  margin-top: 10px;
}
.phone-number-img{

  margin-top: 5px;
  margin-left: 10px;
}
.second-div-section{
  margin-left: 290px;
  margin-top: 50px;
  width: 39%;
}
.second-div-span1,.second-div-span2,.second-div-span3,.second-div-span4 {
  display: block;
  color: #fff;
  padding-bottom: 18px;
}
.second-div-span1{
  display: block;
  font-family: "ProximaNova-Bold";
  font-size: 28px;
  text-align: left;
  color: #fff;
}
.second-div-span2{
  font-family: "Muli-Bold";
  font-size: 18px;
  letter-spacing: normal;
  width: 420px;
  text-align: left;
  color: #fff;
}
.second-div-span4{
  font-family: "ProximaNova-Bold";
  font-size: 14px;
  color: #fff;
  display: inline-flex;
  width: 100%;
}
.second-div-span4-innerdiv1{
  width: 30%;
  display: block;
}
.second-div-span4-innerdiv2{
  width: 70%;
  display: block;
}
.second-div-span4-innerdiv1-span1{
  display: block;
  padding-bottom: 5px;
}
.second-div-span4-innerdiv1-img{
  margin-right: -10px;
}
.second-div-span4-innerdiv2-img{
  height: 30px;
}

.second-div-span4-innerdiv1-span2{
  display: inline-flex;
}
.reviews-span{
  margin-left: 10px;
    margin-top: 5px;
}
.Top-Insurers{
  font-family: "ProximaNova-Bold";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #164380;
  vertical-align: middle;
}
.top-insurers-img-span{
  padding-left: 40px;
  vertical-align: middle;
}
.mat-button-virtual-quote{
  cursor: pointer; 
  border-radius: 30px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.25);
  background-color: #f1c40f;
  border: none;
  height: 50px;
  font-family: "ProximaNova-Bold";
  width: 270px;
  font-size: 18px;
  text-align: center;
  color: #252525;
}
  .third-div-section {
    width: 100%;
    /*margin: 701px 0 448px;
    padding: 12px 0 101px;*/
    background-color: #fff;
  }
  .span-class-gondolo{
    font-family: "Poppins-Bold";
    font-size: 20px;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-left: 36px;
  }
  .span-class {
    font-family: "Poppins-Bold";
    font-size: 12px;
    line-height: 0.67;
    text-align: left;
    color: #fff;
    padding-left: 35px;
  }
  .phone-number-div{
    opacity: 0.5;
    border-radius: 16px;
    background-color: #000;
    width: 145px;
    height: 26px;
    margin-top: -9px;
    color: #fff;
  }
  .Rectangle-19699 {
    width: 1559px;
    height: 701px;
    margin: 0 0 0 361px;
    padding: 0 0 0 410px;
    background-image: linear-gradient(to left, rgba(82, 25, 0, 0) 94%, #164380 23%);
  }
  .feather-check-circle{
    padding-right: 5px;
  }
  .top-insurances-img-section{
    display: block;
    text-align: center;
    padding-top: 20px;
  }
  .problem-solution-section{ 
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 65px;
    padding-top: 20px;
  }
  .problem-solution-section h2{
    display: block;  
    text-align: center;
    font-family: 'ProximaNova-Bold';
    font-size: 30px;
    text-align: center;
    color: #0097e6;
    margin: 20px 0;
  }
  .problem-solution-container{
    display: inline-flex;
  }
  .problem-solution-inner-section{
    cursor: pointer;
    display: block;
    border-radius: 16px;
    background-color: #fff;
    float: left;
    margin: 30px;
    padding: 25px;
  }
  .problem-solution-inner-section:hover{
    cursor: pointer;
    display: block;
    border-radius: 16px;
    background-color: #fff;
    float: left;
    margin: 30px;
    padding: 25px;
    box-shadow: 7px 8px 30px 0 rgb(0 0 0 / 8%);
  }
  .problem-solution-inner-section p{
    font-family: "Muli-SemiBold";
    font-size: 14px;
    text-align: center;
    color: #282b2d;
    width: 350px;
    padding-top: 20px;
  }
  .third-div-section-innerdiv3{
    height: 330px;
    width: 100%;
    background-color: #0097e6;
    display: inline-flex;
    background-image: url("../../assets/images/Group 79338.png");
    background-size: 360px 330px;
    background-repeat: no-repeat;
    background-position:  right;
  }
  .third-div-section-innerdiv4{
    display: block;
    text-align: center;
  }
  .third-div-section-innerdiv3-div{
    width: 50%;
    padding: 45px 0px 0px 170px
  }
  .Gondola-ife{
    text-align: left;
    font-family: 'Poppins-Bold';
    font-size: 40px;
    color: #fff;
    width: 50%;
    margin-top: 130px;
    margin-left: 170px;
  }
.third-innerdiv3-span1{
  padding-bottom: 20px;
  display: block;
  font-family: 'Muli-Bold';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-align: left;
}
.third-innerdiv3-span2,.third-innerdiv3-span3, .third-innerdiv3-span4, .third-innerdiv3-span5{
  padding-bottom: 15px;
  display: block;  
  font-family: 'Muli-SemiBold';
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}
.third-innerdiv4-span1{
  display: block;  
  font-family: 'ProximaNova-Bold';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #0097e6;
  padding-top: 70px;
}
.third-innerdiv4-span2{
  display: inline-flex;
  text-align: center;
}
.third-innerdiv4-div{
  cursor: pointer;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #fff; 
    text-align: center;
    padding-right: 50px;
}
.third-innerdiv4-div:hover{
  cursor: pointer;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 7px 8px 30px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff; 
  text-align: center;
}
.third-innerdiv4-div2{
  cursor: pointer;
  display: block;
  width: 254px;
  margin: 60px 24px 21px 40px;
  padding: 38px 53px 57px 54px;
  border-radius: 16px;
  box-shadow: 7px 8px 30px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff; 
}
.third-innerdiv4-div3{
  cursor: pointer;
  display: block;
  width: 254px;
  margin: 60px 24px 21px 40px;
  padding: 38px 53px 57px 54px;
  border-radius: 16px;
  box-shadow: 7px 8px 30px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff; 
}
.third-innerdiv4-p{ 
  font-family: 'Muli-SemiBold';
  font-size: 16px;
  text-align: center;
  color: #282b2d;
  width: 300px;
}
.third-div-section-innerdiv5{
  text-align: center;
  padding-top: 10px;
}
.get-started-button-section{
  text-align: center;
}
.mat-button-get-quote-now{
  color: #fff;
  cursor: pointer; 
  border-radius: 30px;
  background-color: #5ab43f;
  border: none;
  height: 40px;
  font-family: 'ProximaNova-Bold';
  width: 140px;
  font-size: 12px;
  text-align: center;

}
.third-innerdiv6-span1{  
  font-family: "ProximaNova-Bold";
  font-size: 32px;
  line-height: 1.31;
  text-align: center;
  display: block;
  color: #0097e6;
  padding-top: 40px;
  padding-bottom: 40px;

}
.third-innerdiv8-span1{
  display: block;  
  text-align: center;  
  font-family: "ProximaNova-Bold";
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #0097e6;
  padding-top: 40px;

}
.google-review{
  padding-bottom: 10px;
  vertical-align: middle;
}
.third-innerdiv6-span2{   
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  text-align: center;
  color: #657382;
  vertical-align: middle;
}
.third-innerdiv8-span2{
  padding-top: 15px;
  padding-bottom: 15px;  
  font-family: "Muli-Bold";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #282b2d;
}
.third-div-section-innerdiv6, .third-div-section-innerdiv8{
  padding-bottom: 20px;
  text-align: center;
}
.third-div-section-innerdiv10{
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
    margin: 0 auto;
}
.third-innerdiv10-span{
  font-family: "Muli-Bold";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0 120px 0 120px;
}
.footer-section {
  background-color: #164380;
  color: #fff;
  display: block;
}
.fourth-innerdiv-section{
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.fourth-innerdiv1-section{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}
.mat-grid-innerdiv1{
  display: block;
  width: 40%;
}
.mat-grid-innerdiv1-span1{
  display: block;
  font-size: 26px;  
  font-family: "Poppins-Bold";
  line-height: 0.66;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.mat-grid-innerdiv1-span2{
  padding-top: 15px;
  display: block;
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  text-align: left;
  color: #fff;
  width: 350px;
}
.mat-grid-innerdiv2, .mat-grid-innerdiv3, .mat-grid-innerdiv4, .mat-grid-innerdiv5 {
  width: 15%;
display: block;
}
.mat-grid-innerdiv2-span, .mat-grid-innerdiv3-span, .mat-grid-innerdiv4-span, .mat-grid-innerdiv5-span{
display: block;
padding-bottom: 15px;
 font-family: "ProximaNova-Bold";
font-size: 12px;
line-height: 1.43;
text-align: left;
color: #fff;
}
.follow-us-on{
  padding-right: 5px;
  height: 30px;
}
.fourth-innerdiv1-section-div1{
  display: inline-flex;
  padding-bottom: 10px;
}
.fourth-innerdiv1-section-span1{
  text-align: left;
  display: block;
  font-family: "ProximaNova-Bold";
  font-size: 16px;
  text-align: left;
  color: #fff;
}
.fourth-innerdiv1-section-span2{
  display: block;  
  font-family: 'ProximaNova-Regular';
  font-size: 13px;
  color: #fff;
  padding-left: 175px;
}
.fourth-innerdiv1-section-div2{
  display: block;  
  font-family: "ProximaNova-Regular";
  font-size: 11px;
  line-height: 1.43;
  text-align: left;
  color: #fff;
  opacity: 0.4;
}

/**/
.process-plan-container{
  margin-top: 4%;
    display: inline-flex;
    width: 80%;
    font-family: 'Muli-SemiBold';
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.process-plan-div{
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.process-plan-div-inner{
  width: 280px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 10px;
}
.process-plan-div-inner h1{
  font-size: 18px;
  font-family: 'Muli-SemiBold';
}

.process-plan-div:hover{
  border-radius: 10px;
  text-align: center;
  width: 30%;
  box-shadow: 7px 8px 30px 0 rgba(0, 0, 0, 0.08);
}

.process-plan-div2{
  border-radius: 10px;
  text-align: center;
  width: 30%;
  margin-left: 50px;
  margin-right: 50px;
}
.process-plan-div2:hover{
  border-radius: 10px;
  text-align: center;
  width: 30%;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 7px 8px 30px 0 rgba(0, 0, 0, 0.08);
}

.process-plan-div p {
  width: 180px;  
  font-family: 'Muli-SemiBold';
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}
.social-review-row{
  text-align: center;
  /* margin-top: 5%; */
  display: inline-block;
  margin: auto;
  width: 88%;
}
/***  social proof section **/
.social-proof-section{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 6%;
}
.social-proof-section h2{
  font-family: "ProximaNova-Bold";
  font-size: 30px;
  color: #0097e6;
}
.social-proof-section p {
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  color: #657382;
  vertical-align: middle;
}
.social-proof-row{
  text-align: left;
  width: 100%;
}
.social-proof-row-grid{
  width: 320px;
  border-radius: 8px;
  background-color: #f8fbff;
  display: block;
  margin-top: 60px;
}
.social-proof-row-grid-content{
    height: 55px;
    margin: 20px 20px;
    font-family: 'ProximaNova-Bold';
    font-size: 12px;
    text-align: left;
    color: #657382;
}

.social-proof-row-grid-img{
  margin-left: 20px;
  margin-bottom: 40px;
  display: flex;
}
.social-proof-row-grid-img img{
  height: 50px;
}
.social-proof-row-grid-img p{
  padding-left: 10px;
  display: grid;
  color: #071e57;
}
.social-proof-row-grid-img p span{
  font-size: 12px;
  color: #596672;
}
.social-review-cols{
  background: #f8fbff;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-right: 29px;
    display: block;
    float: right;
    text-align: justify;
    width: 300px;
    height: 180px;
}
.social-review-cols h5{
  width: 250px;
  padding-left: 20px;
    font-family: 'ProximaNova-Regular';
  font-size: 14px;
  color: #657382;
}
.social-review-cols p{
  width: 250px;
  padding-left: 20px;
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
  color: #657382;
}

/* shop-with-confidence-section */
.shop-with-confidence-section{
  text-align: center;
  margin-top: 6%;
}
.shop-with-confidence-section h2{
  font-family: 'ProximaNova-Bold';
  font-size: 24px;
  font-weight: bold;
  line-height: 1.31;
  text-align: center;
  color: #0097e6;
}
.shop-with-confidence-section p{
  font-family: 'Muli-Bold';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #282b2d;
}
.shop-with-confidence-section-div{
  text-align: left;
    width: 90%;
    margin: auto;
    display: inline-flex;
}
.shop-with-confidence-section-innerdiv{
  display: block;
  width: 30%;
  text-align: left;
  margin: 15px 24px;
}
.shop-with-confidence-section-innerdiv p{
  font-family: 'Muli-SemiBold';
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #282b2d;
}
.shop-with-confidence-section-img{
  width: 90%;
}